[submodule "Sources/external/cotire"]
	path = Sources/external/cotire
	url = https://github.com/Knitschi/cotire.git
[submodule "Sources/external/CPFBuildscripts"]
	path = Sources/external/CPFBuildscripts
	url = https://github.com/Knitschi/CPFBuildscripts.git
[submodule "Sources/external/CPFCMake"]
	path = Sources/external/CPFCMake
	url = https://github.com/Knitschi/CPFCMake.git
