Generated/**
Generated
Configuration/**
Configuration
.vscode/
1_Configure.py
2_Generate.py
3_Make.py
/install
/temp
/2_GetDependencies.py
/3_Generate.py
/4_Make.py
/Sources/test_package/graph_info.json
/Sources/test_package/conan.lock
/Sources/test_package/conan_imports_manifest.txt
/Sources/test_package/conanbuildinfo.cmake
/Sources/test_package/conanbuildinfo.txt
/Sources/test_package/conaninfo.txt
/Sources/test_package/build
/Sources/test_package/cmake-build-debug
/Sources/test_package/cmake-build-release
/conanbuildinfo.txt
/conaninfo.txt
/conan_toolchain.cmake
/conanbuild.conf
/conanbuildinfo.cmake
